<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>StudentSignin</servlet-name>
        <servlet-class>StudentSignin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Schedule</servlet-name>
        <servlet-class>Schedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insert</servlet-name>
        <servlet-class>insert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>change</servlet-name>
        <servlet-class>change</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registercomp</servlet-name>
        <servlet-class>registercomp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addprofile</servlet-name>
        <servlet-class>addprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcomp</servlet-name>
        <servlet-class>addcomp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentSignin</servlet-name>
        <url-pattern>/StudentSignin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Schedule</servlet-name>
        <url-pattern>/Schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insert</servlet-name>
        <url-pattern>/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>change</servlet-name>
        <url-pattern>/change</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registercomp</servlet-name>
        <url-pattern>/registercomp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addprofile</servlet-name>
        <url-pattern>/addprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcomp</servlet-name>
        <url-pattern>/addcomp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
